<app-menu *ngIf="showMenu"></app-menu>
<div *ngIf="user$ | async as user">
  <h1>{{ user.username }}</h1>
  <p>Email: {{ user.email }}</p>
  <p>bio:{{user.bio}}</p>
  <button (click)="showFollowers()"><h2>Followers {{ (followers$ | async)?.length || 0 }}</h2></button>
  <button (click)="showFollowing()"><h2>Following {{ (followings$ | async)?.length || 0 }}</h2></button>
  
  <h2>Recipes</h2>
  <ul>
    <li *ngFor="let recipe of referencedRecipes$ | async">
      <div>
        <h3>{{ recipe.title }}</h3>
        <p>{{ recipe.description }}</p>
      </div>
    </li>
  </ul>
  <img [src]="user.profilePicture" *ngIf="user.profilePicture" alt="Profile Picture">
</div>
