* {
  box-sizing: border-box;
  margin: 0px;
}

.signup-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://firebasestorage.googleapis.com/v0/b/task-c5d3d.appspot.com/o/thebear-tvdb.jpg?alt=media&token=f853efce-c078-496d-b976-542a5a2b3568");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

.signup-form {
  border-radius: 25px;
  padding: 60px 40px;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #ffffff94;
  backdrop-filter: blur(20px);
}

.signup-form input {
  display: block;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
}

.signup-form button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #45a049;
}

.login-link {
  margin-top: 20px;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
.error-message {
  color: white;
}
.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  cursor: pointer;
  text-decoration: underline;
}
