.signup-container {
    text-align: center;
    margin-top: 50px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/task-c5d3d.appspot.com/o/thebear-tvdb.jpg?alt=media&token=f853efce-c078-496d-b976-542a5a2b3568");
    background-size: cover; /* Cover the entire container */
            background-position: center; /* Center the background image */
            padding: 20px;
            box-sizing: border-box;
            width: 100%; /* Optional: you can set a specific width */
            height: 97vh; /* Full height of the viewport */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
}

.signup-form {
    border: 2px solid #ccc;
    border-radius: 10%;
    padding: 20px;
    width: 250px;
    margin: 0 auto;
    background-color: black;
    height: 250px;
}

.signup-form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.signup-form button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #45a049;
}

.login-link {
    margin-top: 20px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    cursor: pointer;
    text-decoration: underline;
}
