.head{
    text-align: center;
    color: rgb(0, 255, 102);
    font-size: 32px;
    font-weight: bold;
  }
  
  .divider {
    border-top: 1px solid #ddd;
    margin: 20px 0;
    margin-top: -20px;
  }
  
  
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  .days-row {
    display: flex;
    justify-content: center;
  }
  
  .day {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  
  .selected {
    color: rgb(0, 255, 102);
  }
  
  .selected-btn {
    background-color: rgb(0, 255, 102);
  }
  
  .meals-row {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: rgba(220, 216, 216, 0.496);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .meals-row button:hover{
    background-color: rgb(0, 255, 102);
  }