<mat-toolbar class="Nav-Bar">
    
    <span>Let Him Kok</span>
    <span class="example-spacer"></span>
    <button routerLink="/home" mat-button>Home</button>
    <button routerLink="/post" mat-button>Post A recipe</button>
    <button routerLink="/plan" mat-button>Plan meals</button>
    <button mat-button routerLink="/saved">Saved Recipes</button>
    <button mat-button routerLink="/profile">My Profile</button>
    <button mat-raised-button (click)="logout()" class="log-out-btn">Logout</button>
</mat-toolbar>